@tailwind base;
@tailwind components;
@tailwind utilities;
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.layout_main::-webkit-scrollbar {
    display: none;
}

.green {
    background: #08de65;
}

.red {
    background: #ff1717;
}

.circle_mm {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

.trs_ml {
    transition: 0.2s ease-in-out;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(125, 252, 153, 0.2);
    }
    100% {
        box-shadow: 0 0 0 7px rgba(0, 0, 0, 0);
    }
}